.editProfile {
    width: 30%;
    margin: auto;
    margin-top: 100px;
    padding: 3rem;
    gap: 1rem;
    display: flex;
    background-color: $color-6;
    border-radius: 10px;


    .editInput--flex {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 1rem;
    }

    &__input {
        height: 50px;
        padding: 10px;
        background-color: $color-6;
        font-size: 17px;
        overflow-wrap: break-word;
        outline: none;
        border: none;
        border-bottom: 1px solid $color-1;
        resize: none;
    }

    .previewAvi {
        position: relative;
        margin: auto;

        img {
            border: 3px solid $color-1;
            border-radius: 50%;
            margin-right: 10px;
            width: 7.5rem;
            height: 7.5rem;
            object-fit: cover;

        }
    }

    .aviPlaceholder {
        border: 3px solid $color-1;
        border-radius: 50%;
        margin-right: 10px;
        width: 7.5rem;
        height: 7.5rem;
        object-fit: cover;
        cursor: pointer;
        margin: auto;
    }

    &__img {
        display: none;
    }

    &__btn {
        position: absolute;
        right: 40%;
        top: 45%;
        margin-left: 10px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        font-size: 14px;
        font-weight: bold;
        background: linear-gradient(0.25turn, #0f0c29, #302b63, #24243e);
        border: none;
        border-radius: 71% 29% 48% 52% / 45% 30% 70% 55%;
        transition: transform 0.5s ease;

        &:hover {
            transform: scale(1.10);
            opacity: 0.8;
            cursor: pointer;
        }
    }
}