.content {
    width: 40%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: $color-6;
    gap: 1rem;
    padding: 0rem;
    border-radius: 10px;

    .user--flex {
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-left: 25px;

        .user__avi {
            border-radius: 50%;
            margin-right: 10px;
            width: 3rem;
            height: 3rem;
        }

        .user__name {
            font-size: 1.2em;
        }
    }


    &__text {
        font-size: 0.9em;
        padding-left: 25px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .like__section {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        border-top: 1px solid $color-1;
    }

    .post__btn {
        display: flex;

        .post__like {
            opacity: 0.5;
            margin-right: 3px;
            font-size: 1.3em;
            color: $color-1;
            cursor: pointer;
            transition: 0.5s ease;

            &:hover {
                transform: scale(1.08);
            }
        }

        .post__likeOnclick {
            margin-right: 3px;
            font-size: 1.3em;
            // background: linear-gradient(0.25turn, #6190E8, #A7BFE8);
            color: #6190E8;
            cursor: pointer;
            transition: 0.5s ease;

            &:hover {
                transform: scale(1.08);
            }
        }


        .post__comment {
            margin-left: 25px;
            font-size: 1.2em;
            color: $color-1;
        }
    }


    .btnIsVisible {
        margin-left: 10px;
        margin-right: 25px;
        padding: 5px 10px;
        font-size: 0.9em;
        font-weight: bold;
        color: white;
        background: linear-gradient(0.25turn, #0f0c29, #302b63, #24243e);
        border-radius: 71% 29% 48% 52% / 45% 30% 70% 55%;
        border: none;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .btnIsNotVisible {
        display: none;
    }
}