.topBar {
    z-index: 1;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // background: linear-gradient(0.25turn, #210124, #F7ECE1, #750D37);
    background: linear-gradient(0.25turn, #0f0c29, #302b63, #24243e);
    // background: linear-gradient(0.25turn, #490f4b, #4568DC);

    align-items: center;
    position: sticky;
    top: 0px;

    &__logo {
        height: 35px;
    }

    &__search {
        text-align: center;
        width: 30%;
        height: 35px;
        padding: 20px 30px;
        outline: none;
        border-radius: 25px;
        border: none;
        font-size: 1em;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        text-decoration: none;

    }

    &__link {
        color: $color-2;
        font-size: 1.1em;
        margin: 0 15px;
        padding: 10px;
        background: linear-gradient(0.25turn, #6190E8, #A7BFE8);
        border-radius: 25px;

        &:hover {
            opacity: 0.5;
            // background-color: #434057;
            // border: 1px solid #2420386e;
        }
    }

    &__icon {
        height: 1.2em;
        width: 1.5em;
    }
}