.modal__background {
    background-color: #24203873;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .modal__xmarkIcon {
        color: $color-6;
        font-size: 1em;
        position: relative;
        left: 42.3rem;
        top: 9rem;
        padding: 10px;
        padding-left: 13px;
        padding-right: 13px;
        background: linear-gradient(0.25turn, #0f0c29, #302b63, #24243e);
        border-radius: 71% 29% 48% 52% / 45% 30% 70% 55%;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .modalPostMessage {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 30%;
        margin-top: 100px;
    }
}